<a href="https://colab.research.google.com/github/intisarkhalil/Saudi-Unemployment-Project/blob/main/SaudiData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import random
# generate synthetic job data
industries = ["IT","Finance", "Construction", "Healtcare", "Retail"]
locations = ["Riyadh", "Jeddah", "Dammam", "Mecca", "Medina"]
skills = ["Python", "Excel", "Project Managment", "Data Analysis", "AI/ML"]
# Create 500 synthetic job postings
data = []
for _ in range(500):
  job = {
      "Title": random.choice (["Data analysis", "Software Engineer", "Accountant", "Project Manager"]),
      "Industry":random.choice(industries),
      "Location": random.choice(locations),
      "Skills": random.sample(skills, k=2),
      "Salary": random.randint(5000, 20000),   # Monthlly salary in SAR
      "Date_Posted": pd.Timestamp("2025-01-01") - pd.to_timedelta(random.randint(1, 365), unit='d')
  }
  data.append(job)
# Convert to DataFrame
df_synthetic_jobs = pd.DataFrame(data)

# Save synthetic data
df_synthetic_jobs.to_csv("synthetic_jobs_data_saudi,csv", index=False)
print("Synthetic job data generated and saved!")

Synthetic job data generated and saved!

In [4]:
df_synthetic_jobs

,Title,Industry,Location,Skills,Salary,Date_Posted
0,Accountant,Retail,Medina,"[Data Analysis, Python]",5843,2024-03-18
1,Data analysis,Finance,Jeddah,"[Excel, Project Managment]",8473,2024-12-23
2,Accountant,Healtcare,Mecca,"[AI/ML, Python]",15766,2024-01-02
3,Accountant,Finance,Medina,"[AI/ML, Project Managment]",9999,2024-07-08
4,Accountant,Healtcare,Dammam,"[Excel, Python]",16052,2024-10-19
...,...,...,...,...,...,...
495,Software Engineer,Healtcare,Medina,"[Project Managment, Data Analysis]",9407,2024-11-15
496,Project Manager,Retail,Dammam,"[Excel, Project Managment]",15588,2024-01-24
497,Data analysis,Construction,Medina,"[Python, Project Managment]",19939,2024-04-20
498,Software Engineer,Finance,Mecca,"[Project Managment, Python]",8819,2024-04-12
499,Software Engineer,Finance,Jeddah,"[Project Managment, AI/ML]",7259,2024-05-20

In [6]:
total_jobs = df_synthetic_jobs.shape[0]
avg_salary = df_synthetic_jobs["Salary"].mean()
date_min =pd.to_datetime(df_synthetic_jobs["Date_Posted"]).min()
date_max = pd.to_datetime(df_synthetic_jobs["Date_Posted"]).max()

print(f"Total Job Postings: {total_jobs}")
print(f"Average Salary: {avg_salary:.2f} SAR")
print(f"Date Range: {date_min.date()} to {date_max.date()}")

Total Job Postings: 500
Average Salary: 12179.68 SAR
Date Range: 2024-01-02 to 2024-12-31

In [9]:
industry_counts = df_synthetic_jobs ["Industry"].value_counts()
industry_avg_salary = df_synthetic_jobs.groupby("Industry")["Salary"].mean()
print("Job Postings by Industry:")
print("\nAverage Salary by Industry (SAR):")
print(industry_avg_salary)

Job Postings by Industry:

Average Salary by Industry (SAR):
Industry
Construction    12431.692308
Finance         11880.927835
Healtcare       12648.880000
IT              12065.320000
Retail          11849.222222
Name: Salary, dtype: float64

In [11]:
industry_counts = df_synthetic_jobs["Industry"].value_counts()
print(industry_counts)

Industry
Construction    104
Healtcare       100
IT              100
Retail           99
Finance          97
Name: count, dtype: int64

In [13]:
industry_location = df_synthetic_jobs.groupby("Industry")["Location"].value_counts()
print(industry_location)

Industry      Location
Construction  Dammam      23
              Riyadh      23
              Jeddah      22
              Mecca       20
              Medina      16
Finance       Dammam      23
              Mecca       23
              Riyadh      19
              Jeddah      16
              Medina      16
Healtcare     Jeddah      27
              Riyadh      20
              Mecca       19
              Dammam      18
              Medina      16
IT            Mecca       26
              Riyadh      22
              Jeddah      18
              Dammam      17
              Medina      17
Retail        Dammam      26
              Jeddah      23
              Medina      23
              Riyadh      14
              Mecca       13
Name: count, dtype: int64

# New Section